html body {
  background-color: rgb(135, 79, 79);
  height: 100%;
}
body {
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 80%;
  height: 50%;
}

.quote-box {
  background: rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 1em;
  margin: 10px;
}

div p {
  font-size: 1.5em;
  text-transform: capitalize;
}

button {
  padding: 0.7em;
  font-size: 1em;
  border-radius: 1em;
}